<!doctype html>
<html>
<head>
    <title>only Flans</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
<div class="container">

    <div class="page-header">
        <h1><span class=""></span> </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-eye-slash"></span>  Anonymous Mode</h3>

                <% if (user.local.email) { %>


                      <p>Pictures can be sent anonymously as they are uploaded to the community feed. So go ahead...send that <span class="italic">flan-</span>tastic photo you took last night...What do you have to loose? </p>
                      <ol>
                        <li>Type the email of your <span class="italic">special</span>  someone into the email box</li>
                        <li>Upload your boldest photo and send like normal!</li>
                      </ol>
                      <p><span class="italic">Voila!</span> You've done the hardest part! Now all you have to do is wait. In the mean time give yourself to a taste of your own sweet treat. I'm sure you wont be waiting long. </p>
                    <!-- <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p> -->

                    <!-- <a href="/unlink/local" class="btn btn-default">Unlink</a> -->
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6 overflow">
          <h3>Feed</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
              <span><%= messages[i].thumbUp %></span>
              <img class="imgFeed" src="/img/<%= messages[i].imgName %>" alt="">

              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <!-- <span><i name="<%= messages[i].imgName %>" class="fa fa-envelope"></i></span> -->
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

        </div>
        <div class="col-sm-6">
          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST" enctype="multipart/form-data">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <input type="file" name="file">
            <button type="submit">Submit</button>
          </form>

        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
